<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.12.4" targetFramework="net45" />
  <package id="jQuery.Cookie" version="1.4.1" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net45" />
  <package id="knockoutjs" version="3.4.2" targetFramework="net45" />
  <package id="lodash" version="4.17.4" targetFramework="net45" />
  <package id="RequireJS" version="2.3.3" targetFramework="net45" />
</packages>